---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  <span class="post-subtitle">{{ page.subtitle }}</span>

  <button id="toggle-toc" class="toc-button">📖 Toggle Table of Contents</button>

  <div id="toc-container" class="article-toc">
    {% toc %}
  </div>

  {{ content }}
  <!-- Utterances Comments Script -->
  <script src="https://utteranc.es/client.js"
          repo="w3nhao/w3nhao.github.io" 
          issue-term="pathname"
          theme="github-light"
          crossorigin="anonymous"
          async>
  </script>
</div>

{% if site.related_posts.size >= 1 %}
<div class="related">
  <h2>Related posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<!-- JavaScript to toggle TOC -->
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const tocContainer = document.getElementById('toc-container');
    const toggleButton = document.getElementById('toggle-toc');

    toggleButton.addEventListener('click', () => {
      if (tocContainer.style.display === 'none') {
        tocContainer.style.display = 'block';
      } else {
        tocContainer.style.display = 'none';
      }
    });
  });

  document.addEventListener("DOMContentLoaded", function() {
    // Target only the <div> elements with the 'highlighter-rouge' class
    var codeBlocks = document.querySelectorAll('div.highlighter-rouge');
    
    codeBlocks.forEach(function(block) {
      var wrapper = document.createElement('div');
      var btn = document.createElement('button');
      
      // Extract language type from class
      var language = (block.className.match(/language-(\w+)/) || [,''])[1];
  
      btn.innerHTML = `<span class="description">Show/Hide Code</span><span class="language-type">${language}</span>`;
      btn.className = 'collapsible';
      
      block.parentNode.insertBefore(wrapper, block);
      wrapper.appendChild(btn);
      wrapper.appendChild(block);
      block.classList.add('collapsible_code_content');
    });
  
    // Same collapsible functionality as before:
    var coll = document.querySelectorAll(".collapsible");
    for (var i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        }
      });
    }
  });
  
</script>


