---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  <span class="post-subtitle">{{ page.subtitle }}</span>
  {% if page.description %}<div class="post-description">{{ page.description }}</div>{% endif %}

  <button id="toggle-toc" class="toc-button">📖 Toggle Table of Contents</button>

  <div id="toc-container" class="article-toc">
    {% toc %}
  </div>

  {{ content }}
  
  <!-- Footnotes Script -->
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      const darkModeCheckbox = document.getElementById('dark-mode-checkbox');
  
      // Function to update the tooltip theme
      function updateTooltipTheme(tooltip) {
        const isDarkMode = document.documentElement.getAttribute('data-theme') === 'dark';
        tooltip.style.backgroundColor = isDarkMode ? '#333' : '#f5f5f5';
        tooltip.style.color = isDarkMode ? '#B0C4DE' : 'black';
        tooltip.style.borderColor = isDarkMode ? '#444' : '#ccc';
      }
  
      darkModeCheckbox.addEventListener('change', function () {
        document.querySelectorAll('.custom-tooltip').forEach(tooltip => {
          updateTooltipTheme(tooltip); // Update tooltips when the theme changes
        });
      });
  
      var footnoteContent = '<hr><h2>Footnotes</h2><ol>';
      document.querySelectorAll('footnote').forEach((element, index) => {
        const key = index + 1;
        const footnoteId = 'fn-' + key;
        const footnoteRefId = 'fnref-' + key;
  
        element.setAttribute('key', key);
        element.setAttribute('id', footnoteRefId);
  
        element.addEventListener('mouseenter', function() {
          const info = this.getAttribute('data-info');
          const postElement = document.querySelector('.post');
          const postWidth = postElement.offsetWidth + 'px';
          const postLeft = postElement.getBoundingClientRect().left;
          const footnoteLeft = this.getBoundingClientRect().left;
  
          const tooltip = document.createElement('div');
          tooltip.classList.add('custom-tooltip');
          tooltip.innerHTML = info;
          tooltip.style.position = 'absolute';
          tooltip.style.left = (postLeft - footnoteLeft) + 'px';
          tooltip.style.bottom = '100%';
          tooltip.style.width = postWidth;
          tooltip.style.borderRadius = '4px';
          tooltip.style.padding = '8px';
          tooltip.style.fontSize = '0.8em';
          tooltip.style.zIndex = '10';
          tooltip.style.whiteSpace = 'pre-wrap';
          tooltip.style.transform = 'translateY(-8px)';
          tooltip.style.transition = 'transform 0.3s ease-in-out, opacity 0.3s ease-in-out';
          tooltip.style.visibility = 'hidden';
          tooltip.style.opacity = '0';
  
          this.appendChild(tooltip);
          updateTooltipTheme(tooltip);
  
          setTimeout(() => {
            tooltip.style.visibility = 'visible';
            tooltip.style.opacity = '1';
          }, 10);
        });
  
        element.addEventListener('mouseleave', function() {
          this.removeChild(this.lastChild);
        });
  
        // Append content for the footnote and add a return link
        var dataInfo = element.getAttribute('data-info');
        footnoteContent += `<li id="${footnoteId}">${dataInfo} <a href="#${footnoteRefId}" title="Return to article">↩</a></li>`;
      });
      footnoteContent += '</ol>';
  
      // Insert the generated footnotes at the element with id 'footnotes'
      if (document.querySelectorAll('footnote').length > 0) {
        document.getElementById('footnotes').innerHTML = footnoteContent;
      }
    });
  </script>
  
  <!-- Cite References Script -->
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const cites = document.querySelectorAll('cite[data-info]');
      const references = document.getElementById('citation-list');
    
      if (cites.length > 0) {
        let refContent = '<hr><h2>References</h2><ol>';
        
        cites.forEach((cite, index) => {
          const key = cite.getAttribute('key');
          const info = cite.getAttribute('data-info');
          refContent += `<li id="ref-${key}">${info}</li>`;
        });
    
        refContent += '</ol>';
        references.innerHTML = refContent;
      }
    });
  </script>

<div id="footnotes"></div>
<div id="citation-list"></div>

  <!-- Utterances Comments Script -->
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      // Determine the current theme
      const theme = localStorage.getItem('theme') === 'dark' ? 'github-dark' : 'github-light';

      // Load the Utterances script with the determined theme
      const script = document.createElement('script');
      script.src = 'https://utteranc.es/client.js';
      script.setAttribute('repo', 'w3nhao/w3nhao.github.io');
      script.setAttribute('issue-term', 'pathname');
      script.setAttribute('theme', theme);
      script.setAttribute('crossorigin', 'anonymous');
      script.setAttribute('async', true);

      // Append the script to the container
      document.querySelector('.post').appendChild(script);
    });
  </script>
</div>

{% assign related_visible = site.related_posts | where_exp: "post", "post.hidden != true" %}
{% if related_visible.size >= 1 %}
<div class="related">
  <h2>Related posts</h2>
  <ul class="related-posts">
    {% for post in related_visible limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<!-- JavaScript to toggle TOC -->
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const tocContainer = document.getElementById('toc-container');
    const toggleButton = document.getElementById('toggle-toc');

    toggleButton.addEventListener('click', () => {
      if (tocContainer.style.display === 'none') {
        tocContainer.style.display = 'block';
      } else {
        tocContainer.style.display = 'none';
      }
    });
  });

  document.addEventListener("DOMContentLoaded", function() {
    // Target only the <div> elements with the 'highlighter-rouge' class
    var codeBlocks = document.querySelectorAll('div.highlighter-rouge');
    
    codeBlocks.forEach(function(block) {
      var wrapper = document.createElement('div');
      var btn = document.createElement('button');
      
      // Extract language type from class
      var language = (block.className.match(/language-(\w+)/) || [,''])[1];
  
      btn.innerHTML = `<span class="description">Show/Hide Code</span><span class="language-type">${language}</span>`;
      btn.className = 'collapsible';
      
      block.parentNode.insertBefore(wrapper, block);
      wrapper.appendChild(btn);
      wrapper.appendChild(block);
      block.classList.add('collapsible_code_content');
    });
  
    // Same collapsible functionality as before:
    var coll = document.querySelectorAll(".collapsible");
    for (var i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        }
      });
    }
  });

</script>


